body {
    background: #114650!important;
    padding-top: 5em;   
    font-family: 'Roboto', sans-serif!important;
}

.container {
    width: 100vw;
    margin: 2em 0;
    color: white;
}
.bdzz {
    border-top: 2px solid white;
    padding-top: 1em;
}
p {
    text-align: center;
    text-transform: uppercase;
}

.table {
    color: white!important;
    text-align: center;

}



/* Rodapé */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 2.5em;
    text-align: center;
    color: white;
}
